<div class="table-responsive panel panel-default">
  <table class="table">
    <tr  class="panel-heading">
        <th>名前</th>
        <th>メッセージ</th>
    </tr>
    <% @messages.each do |message| %>
    <tr>
        <td><span class="label label-info"><%= message.name %></span></td>
        <td><%= message.body %></td>
    </tr>
    <% end %>
  </table>
</div>

<%# form_forには do |f|〜ENDまでの内容が全て送信される %>
<%= form_for(@message) do |f| %>
名前：
<%= f.text_field:name %>
内容
<%= f.text_area :body %>
<%= f.submit %>
<% end %>

